@charset "UTF-8";

:root{
    --cor001: #B9E1FF;
    --cor002: #81C8FF;
    --cor003: #67A0CC;
    --cor004: #40647F;
    --cor005: #17527F;

}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: var(--cor005);
}

body.disabled:before {
    content: "";
    position: fixed;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0, .5);  
 }
 

header > menu > ul{
    padding: 10px;
    background-color: var(--cor005);
    text-decoration: none;
    white-space: nowrap;
    overflow-x: auto;
}
header > menu > ul > li {
    padding: 10px;
    height: 21px;
    margin: 0px 5px;
    border-radius: 21px;
    min-width: 50px;
    text-align: center;
    background-color: var(--cor001);
    color: var(--cor005);
    font-weight: bold;
    display: inline-block;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
}

header > menu > ul > li.selected{
    background-color: var(--cor005);
    color: white;
}

main > h1{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.414);
}

main > ul > li {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px;
    color: var(--cor005);
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.426);
}

main > ul > label {
    margin: 0px;
}

main > ul > li.done{
    background-color: var(--cor003);
}
main > ul > li.done label{
    text-decoration: line-through;
    background-color: var(--cor003);
}
main > ul > li.undone{
    background-color: var(--cor001);
}
main > ul > li.undone label{
    text-decoration: none;
}


main > input#add{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    font-size: 3em;
    color: var(--cor005);
    background-color: var(--cor001);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.456);
    transition: background-color 0.2s;
}
main > input#add:hover{
    cursor: pointer;
}
main > input#add:active{
    background-color: var(--cor002);
}



main > section#add_task_screen{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 280px;
    border-radius: 10px;
    background-color: var(--cor001);
    transform: translate(-50%, -50%);
}
main > section#add_task_screen > input#new_task_name{
    display: block;
    width: 300px;
    height: 40px;
    margin: auto;
    color: var(--cor005);
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.396);
    outline: none;
}

main >section#add_task_screen > input[type ='date'], 
main >section#add_task_screen > select,
main >section#add_task_screen > input#category_input{
    margin-left: 15px; 
    color: var(--cor005);
    display: inline-block;
    background-color: var(--cor001);
    border: none;
    border-bottom: 1px solid var(--cor005);
    height: 20px;
    width: 280px;
    outline: none;
}

main >section#add_task_screen > label{
    color: var(--cor005);
    margin-left: 15px;
    margin-top: 10px;
    display: block;
    background-color: var(--cor001);
    border: none;
}
main >section#add_task_screen > button.finish{
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    width: 150px;
    color: var(--cor005);
    background-color: var(--cor001);
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
}
main >section#add_task_screen > button#reset_date{
    margin-left: 10px;
    padding: 0px;
    font-size: 20px;
    background-color: var(--cor001);
    color: var(--cor005);
    border: none;
    cursor: pointer;
}

.unvisible{
    display: none;
}